<div class="product-info" *ngIf="product">
    <div class="left-side"><img [src]="url" alt="Imagen"></div>
    <div class="right-side">
        <div class="content">
            <div class="top">
                <h2 class="name">{{ product.name }}</h2>
                <i class="close-btn bi bi-x-circle-fill" (click)="onClose()"></i>
            </div>
            <div class="product-description">
                <label class="price" *ngIf="!this.showPoints">Precio: <span class="cost">{{ price }}</span> €</label>
                <label class="price" *ngIf="this.showPoints">Puntos: <span class="cost">{{ points }}</span></label>
                <p class="description">{{ product.description }}</p>
                <!-- <p>Puntos: {{ product.price *100 }}</p>Arreglar para que produtos tenga atributo de Points que sea el precio redondeado -->
            </div>
        </div>
        <div class="btn-container">
            <button class="btn" (click)="add()">Añadir</button>
        </div>

    </div>
    <div *ngIf="showDiscount()" class="overlay-tag">
        <label class="price">- {{ product.discount }} %</label>
    </div>
</div>