@import '../../shared/variables';
@import '../../shared/classes';

.page-footer {
  display: flex;
  flex-direction: column;

  width: 100%;
  font-family: $raleway;
  margin: 0;
  padding: 0;

  background-color: transparent;
  color: $white;
  font-weight: bold;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2.5em 10px;
    margin: 0;

    background-color: rgba($black, 0.6);

    .item {
      display: flex;
      align-items: center;

      img {
        width: 2em;
        height: 2em;
      
        margin-right: 1.4em;
      }

      label { 
        font-size: 12pt; 
        color: rgba($white, 0.8);
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    background-color: rgba($dark-purple, 0.6);
    color: rgba($white, 0.8);
    font-size: 8pt;
  }
}

@media screen and (min-width: 480px) and (max-width: 750px) {
  .page-footer { font-size: 10pt; }
}

@media screen and (max-width: 480px) {
  .page-footer { font-size: 8pt; }
}
