<main class="main-menu">
    <app-space-background class="background"></app-space-background>
    <div class="menu">
        <app-category-carousel class="carousel" (scroll)="scroll($event)" [categories]="categories"></app-category-carousel>
        <ng-container *ngFor="let category of categories">
            <article id="{{ category }}" class="category">
                <header>{{category}}</header>
                <div class="list">
                    <ng-container *ngFor="let product of getProducts(category)">
                        <app-product class="product" [productId]="product"></app-product>
                    </ng-container>
                </div>
            </article>
        </ng-container>
    </div>
</main>