<div class="cart-item">
    <img class="product-image" src="{{ product.image }}">
    <div class="content">
        <div class="top">
            <h3>{{ product.name }}</h3>
            <img id="delete-btn" class="btn" src="../../../assets/icons/close.svg" (click)="delete()">
        </div>
        <p class="description">{{ product.description }}</p>
        <div class="bottom">
            <label>Precio: <span class="price">{{ product.price }} €</span></label>
            <div class="right">
                <img id="sub-btn" class="btn btn-1" src="../../../assets/icons/minus.svg" (click)="remove()">
                <output class="quantity">{{ quantity }}</output>
                <img id="add-btn" class="btn btn-1" src="../../../assets/icons/add.svg" (click)="add()">
            </div>
        </div>
    </div>
</div>