<div class="cart-item">
    <img class="product-image" src="{{ item.image }}">
    <div class="content">
        <div class="top">
            <h3>{{ item.name }}</h3>
            <img id="delete-btn" class="btn" src="../../../assets/icons/close.svg" (click)="delete()">
        </div>
        <p class="description">{{ item.description }}</p>
        <div class="bottom">
            <label>Precio: <span class="price">{{ item.getPrice }} €</span></label>
            <div class="right">
                <img id="sub-btn" class="btn btn-1" src="../../../assets/icons/minus.svg" (click)="remove()">
                <output class="quantity">{{ getQuantity() }}</output>
                <img id="add-btn" class="btn btn-1" src="../../../assets/icons/add.svg" (click)="add()">
            </div>
        </div>
    </div>
</div>