<div class="profile-header">
    <div class="wallpaper"></div>
    <div class="profile">
        <img class="profile-icon" src="../../../assets/icons/user-light.png">
        <div class="text">
            <label id="name">{{ user.name }}</label>
            <label id="email">{{ user.email }}</label>
        </div>
    </div>
    <div class="btn-section">
        <img id="edit-btn" class="profile-btn" src="../../../assets/icons/edit.svg" (click)="toggleEditPopup()">
        <img id="logout-btn" class="profile-btn" src="../../../assets/icons/logout.svg" (click)="logout()">
    </div>
</div>
<main class="profile-main">
    <div class="content">
        <div id="points-section" class="output-section">
            <label class="h">Puntos</label>
            <label class="output">{{ user.points }}</label>
        </div>
        <div id="tel-section" class="output-section">
            <label class="h">Teléfono</label>
            <label class="output">{{ user.phone }}</label>
        </div>
    </div>
    <button id="delete-btn" class="btn" (click)="triggerDeletePopup()">Borrar Perfil</button>
</main>