<div class="profile-header">
    <div class="wallpaper"></div>
    <div class="profile">
        <img class="profile-icon" src="../../../assets/icons/user-light.png">
        <div class="text">
            <label id="name">Nombre Del Usuario</label>
            <label id="email">correo@correo.com</label>
        </div>
    </div>
    <div class="btn-section">
        <img id="edit-btn" class="profile-btn" src="../../../assets/icons/edit.svg">
        <img id="logout-btn" class="profile-btn" src="../../../assets/icons/logout.svg">
    </div>
</div>