<form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <h2>Iniciar Sesión</h2>
    <div class="content">
        <div class="floating-input"> 
            <input #input id="email" type="email" placeholder=" " formControlName="email">
            <label for="email" class="floating-label">Correo electrónico</label>
        </div>
        <div class="floating-input"> 
            <input #input id="password" type="password" placeholder=" " formControlName="password">
            <label for="password" class="floating-label">Contraseña</label>
        </div>    
    </div>
    <div class="btn-section">
        <button id="login-btn" class="btn cyber-btn" type="submit">Iniciar Sesión</button>
        <button id="signup-btn" class="btn cyber-btn" (click)="signUp()">Registrarse</button>
    </div>
</form>