@import '../../shared/classes';
@import '../../shared/variables';


app-header {
    z-index: 2;
    position: sticky;
}

.main-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .background {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        z-index: -1;
    }

    .signup-form {
        z-index: 1;
    }
}