/* black */
$black: rgba(0, 0, 0);
$black-90: rgba(0, 0, 0, 0.9);
$black-80: rgba(0, 0, 0, 0.8);
$black-70: rgba(0, 0, 0, 0.7);
$black-60: rgba(0, 0, 0, 0.6);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(0, 0, 0, 0.4);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);

/* white */
$white: rgba(255, 255, 255);
$white-90: rgba(255, 255, 255, 0.9);
$white-80: rgba(255, 255, 255, 0.8);
$white-70: rgba(255, 255, 255, 0.7);
$white-60: rgba(255, 255, 255, 0.6);
$white-50: rgba(255, 255, 255, 0.5);
$white-40: rgba(255, 255, 255, 0.4);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);

/* dark blue */
$dark-purple: rgba(24, 17, 45);
$dark-purple-90: rgba(24, 17, 45, 0.9);
$dark-purple-80: rgba(24, 17, 45, 0.8);
$dark-purple-70: rgba(24, 17, 45, 0.7);
$dark-purple-60: rgba(24, 17, 45, 0.6);
$dark-purple-50: rgba(24, 17, 45, 0.5);
$dark-purple-40: rgba(24, 17, 45, 0.4);
$dark-purple-30: rgba(24, 17, 45, 0.3);
$dark-purple-20: rgba(24, 17, 45, 0.2);
$dark-purple-10: rgba(24, 17, 45, 0.1);

/* imperial blue */
$majorelle-blue: rgba(84, 66, 229);
$majorelle-blue-90: rgba(84, 66, 229, 0.9);
$majorelle-blue-80: rgba(84, 66, 229, 0.8);
$majorelle-blue-70: rgba(84, 66, 229, 0.7);
$majorelle-blue-60: rgba(84, 66, 229, 0.6);
$majorelle-blue-50: rgba(84, 66, 229, 0.5);
$majorelle-blue-40: rgba(84, 66, 229, 0.4);
$majorelle-blue-30: rgba(84, 66, 229, 0.3);
$majorelle-blue-20: rgba(84, 66, 229, 0.2);
$majorelle-blue-10: rgba(84, 66, 229, 0.1);

/* aquamarine */
$turquoise: rgba(57, 222, 197);
$turquoise-90: rgba(57, 222, 197), 0.9;
$turquoise-80: rgba(57, 222, 197, 0.8);
$turquoise-70: rgba(57, 222, 197, 0.7);
$turquoise-60: rgba(57, 222, 197, 0.6);
$turquoise-50: rgba(57, 222, 197, 0.5);
$turquoise-40: rgba(57, 222, 197, 0.4);
$turquoise-30: rgba(57, 222, 197, 0.3);
$turquoise-20: rgba(57, 222, 197, 0.2);
$turquoise-10: rgba(57, 222, 197, 0.1);

/* violet */
$lavender: rgba(180, 110, 245);
$lavender-90: rgba(180, 110, 245, 0.9);
$lavender-80: rgba(180, 110, 245, 0.8);
$lavender-70: rgba(180, 110, 245, 0.7);
$lavender-60: rgba(180, 110, 245, 0.6);
$lavender-50: rgba(180, 110, 245, 0.5);
$lavender-40: rgba(180, 110, 245, 0.4);
$lavender-30: rgba(180, 110, 245, 0.3);
$lavender-20: rgba(180, 110, 245, 0.2);
$lavender-10: rgba(180, 110, 245, 0.1);

/* light red */
$light-red: rgba(253, 111, 111);
$light-red-90: rgba(253, 111, 111, 0.9);
$light-red-80: rgba(253, 111, 111, 0.8);
$light-red-70: rgba(253, 111, 111, 0.7);
$light-red-60: rgba(253, 111, 111, 0.6);
$light-red-50: rgba(253, 111, 111, 0.5);
$light-red-40: rgba(253, 111, 111, 0.4);
$light-red-30: rgba(253, 111, 111, 0.3);
$light-red-20: rgba(253, 111, 111, 0.2);
$light-red-10: rgba(253, 111, 111, 0.1);

/* red */
$pantone: rgba(239, 35, 60);
$pantone-90: rgba(239, 35, 60, 0.9);
$pantone-80: rgba(239, 35, 60, 0.8);
$pantone-70: rgba(239, 35, 60, 0.7);
$pantone-60: rgba(239, 35, 60, 0.6);
$pantone-50: rgba(239, 35, 60, 0.5);
$pantone-40: rgba(239, 35, 60, 0.4);
$pantone-30: rgba(239, 35, 60, 0.3);
$pantone-20: rgba(239, 35, 60, 0.2);
$pantone-10: rgba(239, 35, 60, 0.1);