@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$raleway: "Raleway", sans-serif;

$black: rgb(0, 0, 0);
$eerie-black: rgb(37, 37, 37);
$white: rgb(255, 255, 255);
$dark-purple: rgb(24, 17, 45);
$majorelle-blue: rgb(84, 66, 229);
$turquoise: rgb(57, 222, 197);
$lavender: rgb(180, 110, 245);
$light-red: rgb(253, 111, 111);
$pantone: rgb(239, 35, 60);