<form class="signup-form" (ngSubmit)="onSubmit()" (formGroup)="signupForm">
    <h2>Registrarse</h2>
    <div class="content">
        <div class="floating-input">
            <input id="name" type="name" placeholder=" " (ngModel)="name">
            <label class="floating-label">Nombre <span class="asterisk">*</span></label>
        </div>
        <div class="floating-input">
            <input id="email" type="email" placeholder=" " (ngModel)="email">
            <label class="floating-label">Correo electrónico <span class="asterisk">*</span></label>
        </div>
        <div class="floating-input">
            <input id="tel" type="tel" placeholder=" " (ngModel)="tel">
            <label class="floating-label">Teléfono</label>
        </div>
        <div class="floating-input">
            <input id="password" type="password" placeholder=" " (ngModel)="password">
            <label class="floating-label">Contraseña <span class="asterisk">*</span></label>
        </div>
        <div class="floating-input">
            <input id="confirm-password" type="password" placeholder=" " (ngModel)="confirmPassword">
            <label class="floating-label">Repite la contraseña <span class="asterisk">*</span></label>
        </div>
    </div>
    <button id="signup-btn" class="cyber-btn" type="submit">Registrarse</button>
</form>