<form class="edit-form">
    <h2>Editar Perfil</h2>
    <div class="content">
        <div class="group">
            <div class="group-header">
                <img src="../../../assets/icons/phone.svg">
                <h3>Teléfono</h3>
            </div>
            <div class="group-content">
                <div class="label-input">
                    <label for="tel" class="regular-label">Nuevo número de teléfono</label>
                    <input #input id="tel" type="tel" placeholder="{{ user.phone }}">
                </div>
            </div>
        </div>
        <div class="group">
            <div class="group-header">
                <img src="../../../assets/icons/user-popup.svg">
                <h3>Usuario</h3>
            </div>
            <div class="group-content">
                <div class="label-input">
                    <label for="name" class="regular-label">Nuevo nombre</label>
                    <input #input id="name" type="name" placeholder="{{ user.name }}">
                </div>
                <div class="label-input">
                    <label for="email" class="regular-label">Nuevo correo</label>
                    <input #input id="email" type="email" placeholder="{{ user.email }}">
                </div>
            </div>
        </div>
        <div class="group">
            <div class="group-header">
                <img src="../../../assets/icons/lock.svg">
                <h3>Contraseña</h3>
            </div>
            <div class="group-content">
                <div class="label-input">
                    <label for="password" class="regular-label">Contraseña anterior<span class="asterisk">*</span></label>
                    <input #input id="password" type="password">
                </div>
                <div class="label-input">
                    <label for="new-password" class="regular-label">Nueva contraseña<span class="asterisk">*</span></label>
                    <input #input id="new-password" type="password">
                </div>
                <div class="label-input">
                    <label for="confirm-new-password" class="regular-label">Confirma la nueva contraseña<span class="asterisk">*</span></label>
                    <input #input id="confirm-new-password" type="password">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-section">
        <button id="cancel" class="btn">Cancelar</button>
        <button id="edit" class="btn">Guardar</button>
    </div>
</form>
