@import '../../shared/colors';
@import '../../shared/classes';

.edit-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    width: 550px;
    height: 380px;

    padding: 20px 15px 30px 15px;

    border-radius: 2%;

    background-color: rgba($black, 0.9);
    color: $white;
    font-family: $raleway;

    h2 {
        font-size: 19pt;
        margin: 0;
        text-transform: uppercase;
    }

    .content {
        display: flex;
        justify-content: space-between;
        
        width: 90%;
        height: 80%;
        margin-top: 5%;


        #right-side {
            margin-left: 5%;
        }

        #left-side {
            .group {
                margin-bottom: 5%;
            }
        }

        .group-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            .group {
                display: flex;
                flex-direction: column;
                width: 100%;

                .group-header {
                    display: flex;
                    align-items: center;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    h3 {
                        font-size: 10pt;
                        padding: 0;
                        margin: 0 0 0 10px;
                        text-transform: uppercase;
                    }
                }

                .group-content {
                    display: flex;
                    flex-direction: column;
                    margin: 5px 0px 5px 25px;

                    .label-input {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;

                        .regular-label {
                            font-style: italic;
                            font-weight: bold;
                            color: rgba($white, 0.8);
                            padding: 0 5px;
                            margin-bottom: 5px;
                            font-size: 9pt;

                            .asterisk {
                                color: rgba($pastel-red, 0.8);
                                margin-left: 0.5em;
                            }
                        }

                        input, input:-webkit-autofill {
                            position: relative;
                            font-size: 8pt;
                            width: 85%;
                            @include cool-input-2(1.8em, 20px, rgba($black, 0.9), $white, $turquoise, $lavender, 2px, 0 0 0 10px);
                        
                            &::placeholder { font-weight: bold; }
                        }
                    }
                }
            }
        }
    } 

    .btn-section {
        width: 90%;
        display: flex;
        justify-content: space-between;

        #cancel {
            @include simple-cyber-btn(6.5em, 2em, 10pt, $black, $turquoise, $raleway);
        }

        #edit {
            @include simple-cyber-btn(6.5em, 2em, 10pt, $black, $lavender, $raleway);
        }
    }
}