@import '../../shared/variables';

.product-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 8em;
    height: 8em;
    font-size: 30pt;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba($black, .6);

    .product {
        box-sizing: border-box;
        border: 2px solid $black;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
    
        img {
            background-color: $white;
            height: 70%;
            width: 100%;
            object-fit: cover;
        }

        .text-container {
            height: 30%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: $white;
            font-weight: bold;
            padding: 2%;
            overflow: hidden;

            box-sizing: border-box;

            .name {
                text-transform: uppercase;
                font-style: italic;
                font-size: 20pt;
                width: 80%;
                text-align: center;
                &:hover { cursor: pointer; }
            }
        }
    }

    .overlay-tag {
        top: 5%;
        right: 0;
        position: absolute;
        background-color: $lavender;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2em;
        height: 1.5em;
        padding-bottom: .2em;
        font-size: 25pt;
        border-radius: 5px;
        color: $white;
        font-weight: bold;

        .price:hover { cursor: pointer; }
        &:hover { cursor: pointer; }
    }

    &:hover {
        background-color: $black;
        cursor: pointer;

        img { opacity: 0.95; }
        .text-container .name { color: $turquoise; }
    }
}