@import '../../shared/variables';
@import '../../shared/classes';
// * { font-weight: bold; }

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;

    width: 100%;
    height: $banner-height;

    text-transform: uppercase;
    font-weight: bold;
    font-family: $raleway;
    
    margin: 0;

    .banner-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .banner-info {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -60%);
        z-index: 1;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        text-align: end;

        .title {
            font-size: 50pt;
            color: $white;
            -webkit-text-stroke: 0.025em $black;
        }

        .cyber-btn {
            @include cyber-btn(9em, 2em, 20pt, $white, $eerie-black, $raleway);
            cursor: pointer;
            align-self: end;
            &:hover { 
                color: $lavender; 
                box-shadow: 0 8px 5px rgba($lavender, 0.7);
            }
            &:active { transform: translateY(10%); }
        }
    }
}

// /* Device = Laptops, Desktops B/w 768px to 1280px */
// @media (min-width: 768px) and (max-width: 1280px) {
//   .banner .banner-info {
//       .title { font-size: 6.2vw; }
//       .btn { font-size: 2.8vw; }
//   }
// }

// /*  Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
// @media (min-width: 481px) and (max-width: 767px) {
//   .banner { width: 100%;
//     .banner-info {
//       .title { font-size: 6.7vw; }
//       .btn { font-size: 3vw; }
//     }
//   }
// }

// /*  Device = Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
// @media (min-width: 320px) and (max-width: 480px) {
//   .banner { height: 250px;
//     width: 100%;
//     .banner-info {
//       .title { font-size: 7vw; }
//       .btn { font-size: 3.2vw; } }
//   }
// }
