<main class="main-home">
    <app-space-background class="background"></app-space-background>
    <div class="home">
        <app-banner></app-banner>
        <div class="page-section-wrapper">
            <app-page-section class="page-section-container" [name]='"Puntos"' [img]='"../../../assets/points-cover.png"' [fragment]='"points"'></app-page-section>
            <app-page-section class="page-section-container" [name]='"Descuentos"' [img]='"../../../assets/offers.png"' [fragment]='"discount"'></app-page-section>
        </div>
    </div>
</main>
<app-footer></app-footer>