@import '../../shared/classes';
@import '../../shared/variables';

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: fit-content;

    .background {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        z-index: -1;
    }

    .home {
        width: 80%;
        background-color: rgba($black, 0.4);
        min-height: $main-height;

        .page-section-wrapper {
            display: flex;
            height: calc($main-height - $banner-height);
            width: 100%;

            .page-section-container {
                width: 50%;
            }
        }
    }
}