<app-header></app-header>
<main class="main-home">
    <app-space-background class="background"></app-space-background>
    <div class="home">
        <app-banner></app-banner>
        <div class="page-section-wrapper">
            <app-page-section class="page-section-container" [page]="{ name: 'Puntos', image: 'https://static.kfc.es/images/category/lg/20048.jpg?v=3eNyp', router_link: 'offers' }"></app-page-section>
            <app-page-section class="page-section-container" [page]="{ name: 'Descuentos', image: 'https://static.kfc.es/images/category/lg/20048.jpg?v=3eNyp', router_link: 'offers' }"></app-page-section>
        </div>
    </div>
</main>
<app-footer></app-footer>