@import '../../shared/classes';
@import '../../shared/colors';

app-header {
    z-index: 2;
    position: sticky;
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: fit-content;

    .background {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        z-index: -1;
    }

    .home {
        z-index: 1;
        height: 100%;
        width: 80%;
        background-color: rgba($black, 0.4);
        

        .page-section-wrapper {
            display: flex;
            height: 250px;
            width: 100%;

            .page-section-container {
                width: 50%;
            }
        }
    }
}