@import '../../shared/variables';

.slider-product {
    width: 100%;
    height: 180px;

    background-color: rgba($black, .2);

    color: $white;
    margin: 0;
    padding: 1% 4%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .bi {
        font-size: 30pt;
        background: -webkit-linear-gradient($turquoise, $lavender);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        &:active { transform: scale(1); }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 70%;
        height: 100%;
        align-items: center;

        .category {
            padding: 5%;
            box-sizing: border-box;
            width: 8.5em;
            height: 8.5em;
            
            font-weight: bold;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($lavender, .4);
            border: 2px solid rgba($white, .6);

            .name {
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                font-size: 10pt;

                &:hover { cursor: pointer; }
            }

            &:hover { 
                cursor: pointer; 
                box-shadow: 0 0 20px rgba($white, .6);
            }
        }
    }
}