/* You can add global styles to this file, and also import other style files */
@import 'app/shared/colors';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body { 
    height: 100vh;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-family: $raleway;
}

main {
    min-height: calc(100vh - 65px);
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: $black;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($lavender, 0.8);
    border-radius: 20px;

    &:hover {
        background-color: rgba($lavender, 1);
    }
}