<app-header></app-header>
<main class="main-offers">
    <app-space-background class="background"></app-space-background>
    <div class="offers">
        <article id="discount">  
            <header>OFERTAS</header>
            <app-banner-carousel [products]="discountedBanner"></app-banner-carousel>
            <div class="list">
                <ng-container *ngFor="let product of discounted">
                    <app-product class="product" [productId]="product"></app-product>
                </ng-container>
            </div>
        </article>
        <article id="points">
            <header>PUNTOS</header>
            <div class="banner"><img src='../../../assets/points.png'></div>
        </article>
    </div>
</main>